body.main-img {
    background-image: url("../image/IMG_7920.jpg");
    background-size: cover;
}

h1 {
    text-shadow: 2px 2px 10px #777, -2px 2px 10px #777, 2px -2px 10px #777,
        -2px -2px 10px #777;
    color: aliceblue;
}
